@use '@/styles/abstract';

.c-topic-card {
  @include abstract.card;
  padding: var(--space-md);
  transition: var(--transition-fast);

  &:hover {
    border-color: var(--color-primary);
    background: var(--color-surface-light);
    transform: translateY(-2px);
  }

  &__content {
    @include abstract.flex(center, space-between);
  }

  &__title {
    font-size: 1.6rem;
    color: var(--color-text);
  }

  &__badge {
    font-size: 1.2rem;
    padding: 0.4rem 0.8rem;
    border-radius: var(--radius-sm);
    background: var(--color-primary-soft);
    color: var(--color-primary);
  }
}
