/* PX → REM */
@use 'sass:map';

@function rem($px) {
  @return ($px / 10) * 1rem;
}

/* Z-Index scale */
@function z($level) {
  $map: (
    base: 1,
    dropdown: 100,
    overlay: 1000,
    modal: 1100
  );

  @return map.get($map, $level);
}