:root {
  /* BACKGROUND */
  --color-bg: var(--color-black-russian);
  --color-surface: var(--color-vulcan);
  --color-surface-light: var(--color-charade);

  /* TEXT */
  --color-text: var(--color-white);
  --color-text-muted: var(--color-manatee);

  /* FONT */
  --font-primary: "Inter", system-ui, sans-serif;

  /* FONT SIZES (REM based) */
  --text-xs: 1.2rem;
  --text-sm: 1.4rem;
  --text-md: 1.6rem;
  --text-lg: 1.8rem;
  --text-xl: 2.2rem;
  --text-2xl: 2.8rem;

  /* FONT WEIGHTS */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;

  /* LINE HEIGHT */
  --lh-base: 1.5;
  --lh-tight: 1.3;

  /* BORDER */
  --color-border: var(--color-tuna);

  /* PRIMARY */
  --color-primary: var(--color-mariner);

  /* BADGE */
  --color-primary-soft: var(--color-mariner-light);

  /* RADIUS */
  --radius-sm: 6px;
  --radius-md: 10px;

  /* SPACING */
  --space-xs: 6px;
  --space-sm: 10px;
  --space-md: 16px;
  --space-lg: 24px;

  /* ALERT COLORS */
  --color-info: var(--color-dodger-blue);
  --color-info-soft: var(--color-dodger-blue-10);

  --color-success: var(--color-islamic-green);
  --color-success-soft: var(--color-islamic-green-10);

  --color-warning: var(--color-marigold);
  --color-warning-soft: var(--color-marigold-10);

  --color-error: var(--color-red);
  --color-error-soft: rgba(239, 68, 68, 0.1);

  /* TRANSITIONS */
  --transition-fast: 0.2s ease;
}