.l-main {
  display: flex;
  min-height: 100vh;

  &__header {
    height: var(--header-height);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 var(--space-lg);
    border-bottom: 1px solid var(--color-border);
  }

  &__content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &__content {
    flex: 1;
    padding: var(--space-lg);
  }
}