@use '@/styles/abstract';

.l-sidebar {
  width: 24rem;
  padding: var(--space-md);
  background: var(--color-surface);
  border-right: 1px solid var(--color-border);
  display: flex;
  flex-direction: column;

  &__divider {
    height: 1px;
    background-color: var(--color-border);
    margin: var(--space-sm) 0;
  }

  &__logo {
    display: flex;
    justify-content: center;
  }

  &__logo-link {
    display: inline-flex;
  }

  &__nav {
    @include abstract.flex(flex-start, flex-start, column, var(--space-xs));
    flex-grow: 1;
  }

  &__link {
    width: 100%;
    padding: 0.8rem 1rem;
    border-radius: var(--radius-sm);
    color: var(--color-text-muted);
    transition: all 0.2s ease-in-out;

    @include abstract.hover-focus {
      background-image: linear-gradient(to right, rgba(59, 130, 246, 0.3), var(--color-dodger-blue));
      color: var(--color-white);
    }
  }

  &__footer {
    margin-top: auto;
    text-align: center;
    font-size: var(--font-size-xs);
    color: var(--color-text-muted);
  }
}
