[data-theme="light"] {
  --color-bg: var(--color-ghost-white);
  --color-surface: var(--color-white);
  --color-surface-light: var(--color-catskill-white);

  --color-text: var(--color-black);
  --color-text-muted: var(--color-shuttle-gray);

  --color-border: var(--color-gallery);

  --color-primary: var(--color-dark-orange);
  --color-primary-soft: var(--color-dark-orange-10);

  --color-counter-text: var(--color-ebony-clay);
}