// src/styles/globals.scss
@import '@/styles/variables.scss';

/* Base styles and resets */
body {
  font-family: var(--font-family-base);
  margin: 0;
  background-color: var(--color-background-primary);
  color: var(--color-text-primary);
}