@use '@/styles/abstract';

.p-styleguide {
  &__title {
    margin-bottom: var(--space-lg);
  }

  &__section {
    @include abstract.card;
    padding: var(--space-md);
  }

  &__demo {
    margin-top: var(--space-sm);

    display: flex;
    flex-wrap: wrap;
    gap: var(--space-sm);
  }
}
