// src/navigation/SidebarItem/SidebarItem.scss

.c-sidebar-item {
  margin-bottom: 0.8rem;
}

.c-sidebar-item__link {
  display: block;
  padding: 0.7rem 1rem;
  border-radius: 5px;
  color: var(--color-text-secondary);
  text-decoration: none;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

  &:hover {
    background-color: var(--color-background-primary);
    color: var(--color-text-primary);
  }

  &.is-active {
    background-color: var(--color-primary);
    color: #fff;
    font-weight: bold;
  }
}