@use '@/styles/abstract';

/* ================================
   BUTTON COMPONENT
================================ */

.c-button {
  @include abstract.button-like-base;

  /* ===== VARIANTS ===== */

  &--primary {
    @include abstract.button-like-variant(primary);
  }

  &--secondary {
    @include abstract.button-like-variant(secondary);
  }

  &--ghost {
    @include abstract.button-like-variant(ghost);
  }

  &--icon {
    @include abstract.button-like-variant(icon);
  }

  /* ===== SIZES ===== */

  &--sm {
    @include abstract.button-like-size(sm);
  }

  &--md {
    @include abstract.button-like-size(md);
  }

  &--lg {
    @include abstract.button-like-size(lg);
  }

  /* ===== BLOCK ===== */

  &--block {
    width: 100%;
  }

  /* ===== STATES ===== */

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
